.review-heading {
   margin-bottom: 55px;
}
.review {
    font-size: 45px;
    position: relative;
    border-bottom: 3px dashed #7327CC;
}
@media screen and (min-width: 320px) and (max-width: 600px){
   .review-heading {
       margin-top: 150px;
   }
   .review {
        font-size: 25px;
   }
}