.review-container {
    border: none;
} 
.review-card {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-image {
    width: 415px;
    height: 350px;
    border-radius: 50%;
}
.card-title {
    font-size: 30px;
}
@media screen and (min-width: 320px) and (max-width: 600px){
  .card-image {
      width: 200px;
      margin-left: 45px;
  }
}